<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Vue Currency Converter</title>
</head>

<body>

    <div id="app">
        <div class="container my-5">

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>From</label>
                        <select v-model="from" class="form-control" name="" id="">
                            <option :value="currency.id" v-for="currency in formattedCurrencies">
                                {{ currency.currencyName }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>To</label>
                        <select v-model="to" class="form-control" name="" id="">
                            <option :value="currency.id" v-for="currency in formattedCurrencies">
                                {{ currency.currencyName }}
                            </option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <input v-model="amount" type="text" placeholder="amount" class="form-control my-5">
                    <div class="text-center">
                        <button :disabled="disabled" @click="convertCurrency" type="button" class="btn btn-primary">
                            {{ loading ? 'Converting...' : 'Convert' }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="text-center display-2 mt-5">
                        {{ calculateResult }}
                    </div>
                </div>
            </div>

        </div>
    </div>



    <script src="vue.js"></script>
    <script src="axios.min.js"></script>
    <script src="app.js"></script>

</body>

</html>